<div class="h-full w-full overflow-hidden flex flex-row bg-off-white">
  <app-navbar></app-navbar>
  <div class="flex flex-col w-full">
    <header class="w-full h-24 flex items-center justify-end py-6 pr-12">
      <span
        class="h-full text-3xl text-purple-regular font-black"
        [ngClass]="{
          'mdi mdi-web': statsService.menuOptionSelected === 'All'
        }"
      >
        {{
          statsService.menuOptionSelected === "All"
            ? ""
            : statsService.menuOptionSelected
        }}</span
      >
    </header>

    <div class="flex flex-col w-full h-full overflow-y-auto">
      <app-multiple-countries
        *ngIf="statsService.menuOptionSelected !== 'Search'; else countryList"
        class="h-full w-full"
      ></app-multiple-countries>
    </div>
    <ng-template #countryList>
      <app-country-list></app-country-list>
    </ng-template>
  </div>
</div>
